@rem: 32rem;

.partBox {
  .partItem {
    display: flex;
    align-items: stretch;
    border: 1px solid pink;
    border-bottom: none;
    .left {
      padding: 40/@rem;
      width: 200/@rem;
    }
    .right {
      padding: 40/@rem;
      width: 0;
      flex-grow: 1;
      border-left: 1px solid pink;
    }
  }
  .partItem:last-child {
    border-bottom: 1px solid pink;;
  }
  .bold {
    font-weight: bold;
  }
}